astroid
attrs
autopep8
azure-cognitiveservices-speech
beautifulsoup4
cachetools
certifi
chardet
click
cn2an
colorama
comtypes
coqui_tts
decorator
edge-tts
elevenlabs
faster-whisper
flake8
fugashi
future
geocoder
geographiclib
geopy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gtts
halo
httplib2
hurry
hurry.filesize
idna
isort
jaconv
jieba
kokoro
lazy-object-proxy
lxml
mccabe
mojimoji
more-itertools
MouseInfo
numpy
oauthlib
openai
openwakeword
ordered_set
Pillow
pprintpp
protobuf
psutil
pvporcupine
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pycodestyle
pydub
pyflakes
PyGetWindow
pyjokes
pylint
PyMsgBox
pyperclip
pypiwin32
PyQt5
pyqt5-plugins
PyQt5-sip
pyqt5-tools
PyRect
PyScreeze
python-dotenv
pyttsx3
PyTweening
pytz
pywhatkit
pywin32
qt5-applications
qt5-tools
ratelim
requests
requests-oauthlib
resampy
rsa
scipy
selenium
six
soundfile
soupsieve
SpeechRecognition
stream2sentence
toml
torch
torchaudio
uritemplate
urllib3
webrtcvad-wheels
websocket-client
websockets
wikipedia
wincertstore
wolframalpha
wrapt
xml-python
xmltodict
inflect
google.generativeai